{{define "footer"}}
<footer>
    <div class="footer-container">
        <a href="/" class="homepage" style="text-decoration: none">
            <img src="static/favicon.png" alt="Aurora Cars" class="logo">
          </a>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/aurora_cars" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/mj_aurora_cars/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/aurora_cars/" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  <div class="copyright">
    <p>
      2024 &copy by Julia and Mariia
    </p>
  </div>
</footer>
{{end}}